VITE_SUPABASE_URL=https://ipvudulcdcjnhohdtrab.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwdnVkdWxjZGNqbmhvaGR0cmFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MDUxOTksImV4cCI6MjA5Mzk4MTE5OX0.CAgzuC-ESxr5UyvlrG90A7edIH0lhD2IPzma_3OnUiQ
